<div class="news-body">
  <div class="new-wrapper">
    <div class="new-source">
      <span>Chain Store Age</span>
      <span>Feb 22 2016</span>
    </div>
    <div class="new-head-title">
      <span>Billabong taps NetSuite to power omnichannel strategy</span>
    </div>
    <div class="img-news">
      <img src="https://picsum.photos/294/162/?image=3" alt="">
    </div>
    <div class="new-text">
     <p>
          Marianne WilsonNetSuite Inc., a provider of cloud-based financials, ERP and and omnichannel software suites, said that boardsports retailer Billabong International Ltd. selected NetSuite...
      </p>
    </div>
    <div class="new-foot">
      <i class="fa fa-briefcase"></i>
      <i class="fa fa-thumbs-up"></i>
      <i class="fa fa-share"></i>
    </div>
  </div>
  <div class="new-wrapper">
    <div class="new-source">
      <span>Business Wire</span>
      <span>Feb 18, 2016</span>
    </div>
    <div class="new-head-title">
      <span>New Study Shows One Critical Industry Lagging Behind in Software Security</span>
    </div>
    <div class="img-news">
      <img src="https://picsum.photos/294/162/?image=22" alt="">
    </div>
    <div class="new-text">
      <p>
          Marianne WilsonNetSuite Inc., a provider of cloud-based financials, ERP and and omnichannel software suites, said that boardsports retailer Billabong International Ltd. selected NetSuite...
      </p>
    </div>
    <div class="new-foot">
        <i class="fa fa-briefcase"></i>
        <i class="fa fa-thumbs-up"></i>
        <i class="fa fa-share"></i>
    </div>
  </div>
  <div class="new-wrapper">
    <div class="new-source">
      <span>Business Wire</span> 
      <span>Feb 13, 2016</span>
    </div>
    <div class="new-head-title">
      <span>AlphaGo and the Declining Advantage of Big Companies</span>
    </div>
    <div class="new-text">
      <p>
          Panelists at CII's spring conference discuss governance implications of shift in US firms’ approach to capital allocation
          When it comes to uses of cash, investors are slightly schizophrenic about...
      </p>
    </div>
    <div class="new-foot">
        <i class="fa fa-briefcase"></i>
        <i class="fa fa-thumbs-up"></i>
        <i class="fa fa-share"></i>
    </div>
  </div>
  <div class="new-wrapper">
    <div class="new-source">
      <span>Chain Store Age</span>
      <span>Feb 13, 2016</span>
    </div>
    <div class="new-head-title">
      <span>Journelle, Alton Lane streamline process with NetSuite platform</span>
    </div>
    <div class="img-news">
      <img src="https://picsum.photos/294/162/?image=0" alt="">
    </div>
    <div class="new-text"></div>
    <div class="new-foot">
        <i class="fa fa-briefcase"></i>
        <i class="fa fa-thumbs-up"></i>
        <i class="fa fa-share"></i>
    </div>
  </div>
  <div class="new-wrapper">
    <div class="new-source">
      <span>Internet Retailer</span>
      <span>Feb 14, 2016</span>
    </div>
    <div class="new-head-title">
      <span>
          NetSuite rolls out a new e-procurement system for B2B companies
      </span>
    </div>
    <div class="img-news">
      <img src="https://picsum.photos/294/162/?image=1" alt="">
    </div>
    <div class="new-text">
      <p>Katherine BoccaccioNetSuite Inc. announced that two fashion and apparel retailers — Journelle, a seller of high-end lingerie and loungewear, and Alton Lane, a maker of men’s custom-tailored...</p>
    </div>
    <div class="new-foot">
        <i class="fa fa-briefcase"></i>
        <i class="fa fa-thumbs-up"></i>
        <i class="fa fa-share"></i>
    </div>
  </div>
  <div class="new-wrapper">
    <div class="new-source">
      <span>The Wall Street Journal</span>
      <span>Feb 13, 2016</span>
    </div>
    <div class="new-head-title">
      <span>NetSuite to Buy Email Marketing Company for $200 Million</span>
    </div>
    <div class="new-text">
      <p>It's been 25 years since Professor Jeffrey Sonnenfeld's landmark book The Hero's Farewell vividly documented the challenges and failures of CEO succession planning at large publicly traded...</p>
    </div>
    <div class="new-foot">
        <i class="fa fa-briefcase"></i>
        <i class="fa fa-thumbs-up"></i>
        <i class="fa fa-share"></i>
    </div>
  </div>
</div>