body{
    margin: 0;
    padding: 0;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 1em;
    background-color: #f5f5fa;
}
.chart-tittle{
    font-size: .9em;
    font-weight: bold;
    color: #5c9df5;
    padding-bottom: 15px;
}